.container {
  margin: auto;
  padding: auto;
  display: flex;
  /* background: #B8FB3C; */
  align-items: center;
  height: 100vh;
  /* width: 100vh; */
}

.chart-container  {
  background: black;
  color: #0A0A;

  /* display: flex; */
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
